# ssh keys
mykey*

*.swp
*.bak

terraform.log

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# terragrunt files
terraform.hcl
backend.tf

# Crash log files
crash.log
